<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triangle</key>
	<array>
		<dict>
			<key>X</key>
			<integer>260</integer>
			<key>Y</key>
			<integer>112</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>423</integer>
			<key>Y</key>
			<integer>398</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>95</integer>
			<key>Y</key>
			<integer>398</integer>
		</dict>
	</array>
	<key>Trapezium</key>
	<array>
		<dict>
			<key>X</key>
			<integer>128</integer>
			<key>Y</key>
			<integer>136</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>371</integer>
			<key>Y</key>
			<integer>136</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>478</integer>
			<key>Y</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>42</integer>
			<key>Y</key>
			<integer>376</integer>
		</dict>
	</array>
	<key>ellipse</key>
	<array>
		<integer>13</integer>
		<real>4.5</real>
		<real>-207657.5</real>
	</array>
	<key>Circle</key>
	<array>
		<integer>11</integer>
		<integer>11</integer>
		<integer>-480000</integer>
	</array>
	<key>Square</key>
	<array>
		<dict>
			<key>X</key>
			<integer>420</integer>
			<key>Y</key>
			<integer>420</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>92</integer>
			<key>Y</key>
			<integer>420</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>92</integer>
			<key>Y</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>420</integer>
			<key>Y</key>
			<integer>92</integer>
		</dict>
	</array>
	<key>Rectangle</key>
	<array>
		<dict>
			<key>X</key>
			<integer>82</integer>
			<key>Y</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>435</integer>
			<key>Y</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>435</integer>
			<key>Y</key>
			<integer>350</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>82</integer>
			<key>Y</key>
			<integer>350</integer>
		</dict>
	</array>
	<key>Pentacle</key>
	<array>
		<dict>
			<key>X</key>
			<integer>255</integer>
			<key>Y</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>307</integer>
			<key>Y</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>456</integer>
			<key>Y</key>
			<integer>193</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>340</integer>
			<key>Y</key>
			<integer>286</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>382</integer>
			<key>Y</key>
			<integer>422</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>262</integer>
			<key>Y</key>
			<integer>384</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>143</integer>
			<key>Y</key>
			<integer>432</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>178</integer>
			<key>Y</key>
			<integer>290</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>64</integer>
			<key>Y</key>
			<integer>204</integer>
		</dict>
		<dict>
			<key>X</key>
			<integer>207</integer>
			<key>Y</key>
			<integer>195</integer>
		</dict>
	</array>
</dict>
</plist>
