<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pasters</key>
	<dict>
		<key>Column</key>
		<integer>4</integer>
		<key>Row</key>
		<integer>3</integer>
		<key>PasterArray</key>
		<array>
			<dict>
				<key>X</key>
				<integer>43</integer>
				<key>Y</key>
				<integer>140</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>48</integer>
				<key>Y</key>
				<integer>400</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>252</integer>
				<key>Y</key>
				<integer>150</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>232</integer>
				<key>Y</key>
				<integer>343</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>239</integer>
				<key>Y</key>
				<integer>529</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>453</integer>
				<key>Y</key>
				<integer>382</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>550</integer>
				<key>Y</key>
				<integer>210</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>478</integer>
				<key>Y</key>
				<integer>20</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>539</integer>
				<key>Y</key>
				<integer>550</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>683</integer>
				<key>Y</key>
				<integer>350</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>750</integer>
				<key>Y</key>
				<integer>175</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
			<dict>
				<key>X</key>
				<integer>761</integer>
				<key>Y</key>
				<integer>483</integer>
				<key>Width</key>
				<integer>180</integer>
				<key>Height</key>
				<integer>180</integer>
				<key>FileName</key>
				<string>PasterTemplate0.png</string>
			</dict>
		</array>
	</dict>
	<key>GeoPasters</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>Color</key>
			<integer>1</integer>
			<key>FileName</key>
			<string>CreatedTrianglePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Color</key>
			<integer>12</integer>
			<key>FileName</key>
			<string>CreatedTrapeziumPaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>Color</key>
			<integer>13</integer>
			<key>FileName</key>
			<string>CreatedEllipsePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>4</integer>
			<key>Color</key>
			<integer>4</integer>
			<key>FileName</key>
			<string>CreatedCirclePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>5</integer>
			<key>Color</key>
			<integer>5</integer>
			<key>FileName</key>
			<string>CreatedSquarePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>6</integer>
			<key>Color</key>
			<integer>6</integer>
			<key>FileName</key>
			<string>CreatedRectanglePaster.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>3</integer>
			<key>Color</key>
			<integer>3</integer>
			<key>FileName</key>
			<string>CreatedPentaclePaster.png</string>
		</dict>
	</array>
	<key>GeoPasterModels</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>Color</key>
			<integer>1</integer>
			<key>FileName</key>
			<string>TrianglePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>1</integer>
			<key>Color</key>
			<integer>12</integer>
			<key>FileName</key>
			<string>TrapeziumPasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>2</integer>
			<key>Color</key>
			<integer>13</integer>
			<key>FileName</key>
			<string>EllipsePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>4</integer>
			<key>Color</key>
			<integer>4</integer>
			<key>FileName</key>
			<string>CirclePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>5</integer>
			<key>Color</key>
			<integer>5</integer>
			<key>FileName</key>
			<string>SquarePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>6</integer>
			<key>Color</key>
			<integer>6</integer>
			<key>FileName</key>
			<string>RectanglePasterModel.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>3</integer>
			<key>Color</key>
			<integer>3</integer>
			<key>FileName</key>
			<string>PentaclePasterModel.png</string>
		</dict>
	</array>
	<key>SpecificPosition</key>
	<dict>
		<key>GeoModel</key>
		<dict>
			<key>StartX</key>
			<integer>3</integer>
			<key>StartY</key>
			<integer>3</integer>
			<key>GapLength</key>
			<integer>29</integer>
			<key>Width</key>
			<integer>85</integer>
			<key>Height</key>
			<integer>85</integer>
		</dict>
		<key>GeoPaster</key>
		<dict>
			<key>StartX</key>
			<integer>117</integer>
			<key>StartY</key>
			<integer>3</integer>
			<key>GapLength</key>
			<integer>29</integer>
			<key>Width</key>
			<integer>85</integer>
			<key>Height</key>
			<integer>85</integer>
		</dict>
	</dict>
</dict>
</plist>
